<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation</title>
    
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/css/style.css">
	  
    <link rel="stylesheet" href="/css/table.css">

</head>
<body>
    <header>
            <div class="container container-nav">
            <div class="site-title">
                <h1>ONlineExam</h1>
                <p class="subtitle">Study with the right friend ....</p>
            </div>
            <nav>
                <ul>
                    <li><a href="#" class="current-page">Home</a></li>
                    <li><a href="#" >Manage User</a></li>
                    <li><a th:href="@{/exam}" >Manage Exam</a></li>
                    <li><a href="@{/questionPage}" >Manage Questions</a></li>
                    <li><a href="#" > Show Results</a></li>
                    <li><a href="#" >About</a></li>
                    <li><a href="#" >Contact</a></li>
                    <li><a href="#" class="logout-btn">Logout</a></li>
                </ul>
            </nav>
    </div>
    </header>

    <div class="manage-exam">

      <form th:action="@{/exam/addExam}">
        <div class="container">
          <h1>Manage Exam</h1>
      
          <label for="email"><b>Category:</b></label>
          <input type="text" placeholder="Enter Ctegory" name="category" id="email" required>
      
          <label for="psw"><b>Exam Name:</b></label>
          <input type="text" placeholder="Enter Exam Name" name="examname" id="psw" required>
      
          <label for="psw-repeat"><b>Exam Date:</b></label>
          <input type="date" placeholder="sELECT Date" name="examdate" id="psw-repeat" required>
          <hr>
         
          <button type="submit" class="registerbtn">Submit</button>
          <button type="reset" class="registerbtn">Reset</button>
        </div>
        
      </form>
        </div>
        <div>
        <table class="content-table">
            <thead>
              <tr>
                <th>Id</th>
                <th>Category</th>
                <th>Exam Name</th>
                <th>Date</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="list:${examList}">
                <td th:text="${list.ManageExamid}"></td>
             	<td th:text="${list.category}"></td>
             	<td th:text="${list.examname}"></td>
             	<td th:text="${list.examdate}"></td>
                <td>
                <a type="button" id="editButton" class="btn btn-primary"  th:href="@{/exam/findById/(id=${list.ManageExamid})}">Edit</a>
                <a type="button" class="btn btn-danger" th:href="@{/exam/delete/(id=${list.ManageExamid})}">Delete</a>
                 <a type="button" id="addButton" class="btn btn-success" th:href="@{/exam/findById/(id=${list.ManageExamid})}">Add Question</a>
              </td>
               </tr>            
            </tbody>
          </table>
</div>
 
<!-- Edit Modal Button -->

  <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Exam</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form th:action="@{/exam/update}" method="put">     
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Id:</label>
            <input type="text" class="form-control" id="idEdit" name="ManageExamid" readonly>
          </div>
        
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Category:</label>
            <input type="text" class="form-control" id="categoryEdit" name="category">
          </div>
        
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Exam Name:</label>
            <input type="text" class="form-control" id="examnameEdit" name="examname">
          </div>
        
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Exam Date:</label>
            <input type="date" class="form-control" id="examdateEdit" name="examdate">
          </div>

        
          <div class="form-group">
          <button type="submit" id="submitButton" class="btn btn-primary">Submit</button>        
        </div>             
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- End Edit modal -->


<!-- Start Question Modal -->

  <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Exam</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form th:action="@{/exam/addQuestion}" method="put">     
         
			<div class="form-group">
            <label for="recipient-name" class="col-form-label">examid:</label>
            <input type="text" class="form-control" id="examid" name="examid" >
          </div>

          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Question:</label>
            <input type="text" class="form-control" id="question" name="question">
          </div>
        
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Option A:</label>
            <input type="text" class="form-control" id="optionA" name="optionA">
          </div>
        
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Option B:</label>
            <input type="text" class="form-control" id="optionB" name="optionB">
          </div>
        
         <div class="form-group">
            <label for="recipient-name" class="col-form-label">Option C:</label>
            <input type="text" class="form-control" id="optionC" name="optionC">
          </div>
        
         <div class="form-group">
            <label for="recipient-name" class="col-form-label">Option D:</label>
            <input type="text" class="form-control" id="optionD" name="optionD">
          </div>
        
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Answer:</label>
            <input type="text" class="form-control" id="answer" name="answer">
          </div>       
          
        
          <div class="form-group">
          <button type="submit" class="btn btn-primary">Submit</button>        
        </div>             
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- End Question Modal -->

<script type="text/javascript" src="/js/edit.js"></script>
<script type="text/javascript" src="/js/add.js"></script>
</body>
</html>

