<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Navigation</title>

<link href='https://fonts.googleapis.com/css?family=Sofia'
	rel='stylesheet'>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/css/style.css">
 <link rel="stylesheet" href="/css/style.css" />
 <link rel="stylesheet" href="/css/quiz.css" />
</head>
<body onload="showTimer()">
	<header>
		<div class="container container-nav">
			<div class="site-title">
				<h1>ONlineExam</h1>
				<p class="subtitle">Study with the right friend ....</p>
			</div>
			<nav>
				<ul>
					<li><a href="#" class="current-page">Home</a></li>
					<li><a href="#">Profile</a></li>
					<li><a th:href="@{/viewCategory}">View Catagory</a></li>
					<li><a href="#">Exam</a></li>
					<li><a href="#">Show Results</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Contact</a></li>
					<li><a href="#" class="logout-btn">Logout</a></li>
					<li><span class="username" th:text="${#authentication.getPrincipal().getUsername()}" > Guest</span></li>
				</ul>
			</nav>
		</div>
	</header>

	<div class="manage-exam">
		  <div class="wrapper">
    <div class="quiz">
      <div class="quiz_header">
        <div class="quiz_user">
          <h4>Welcome <span class="username" th:text="${#authentication.getPrincipal().getUsername()}" > Guest</span><h4>
        </div>
        <div class="quiz_timer">
          <p id="timer"></p>
        </div>
      </div>
      <div class="quiz_body" id="quiz_body">
        <div id="questions">
        

          <!-- <ul class="option_group">
            <li class="option">option 1</li>
            <li class="option">option 2</li>
            <li class="option">option 3</li>
            <li class="option">option 4</li>
          </ul> -->
        </div>

        <button class="btn-next" id="next" onclick="next()" >Next Question</button>
       
      
      </div>
    </div>
  </div>

		
	</div>
<script th:inline="javascript">

var questions = [[${questionlist}]];
let question_count = 0;
let points = 0;
var correct_answer=0;
var wrong_answer=0;

window.onload = function() {
	showTimer();
  show(question_count);

};

function next() {

   
  // if the question is last then redirect to final page
  if (question_count == questions.length - 1) {
	  clearInterval(my_timer);
 	 let question = document.getElementById("quiz_body");

      question.innerHTML = `
      <h1>Exam Over<h2>
     </br></br>
     <h3>Correct Answer=:${correct_answer}</h3>
     <h3>wrong Answer Answer=:${wrong_answer}</h3>
       
      `;
  }
  console.log(question_count);

  let user_answer = document.querySelector("li.option.active").innerHTML;
  user_ans=[];
  user_ans[question_count]=user_answer;
  localStorage.setItem("user_answer",user_ans);
  // check if the answer is right or wrong
  if (user_answer == questions[question_count].answer) {
    points += 10;
    correct_answer +=1;
  }else
	  {
	  wrong_answer +=1;
	  }
  console.log(points);

  question_count++;
  show(question_count);
}

function show(count) {
  let question = document.getElementById("questions");
  question.innerHTML = `
  <h2>Q${count + 1}. ${questions[count].question}</h2>
   <ul class="option_group">
  <li class="option">${questions[count].optionA}</li>
  <li class="option">${questions[count].optionB}</li>
  <li class="option">${questions[count].optionC}</li>
  <li class="option">${questions[count].optionD}</li>

</ul> 
  `;
  toggleActive();
}

function toggleActive() {
  let option = document.querySelectorAll("li.option");
  for (let i = 0; i < option.length; i++) {
    option[i].onclick = function() {
      for (let i = 0; i < option.length; i++) {
        if (option[i].classList.contains("active")) {
          option[i].classList.remove("active");
        }
      }
      option[i].classList.add("active");
    };
  }
}
 

/*  quiz timer start*/

function showTimer(){
    var time="00:10:00";
var timer=document.getElementById("timer");
timer.innerHTML=timer;
my_timer=setInterval(function(){
var hr=0; var min=0; var sec=0;
var time_up=false;
t=time.split(":");
hr=parseInt(t[0]);
min=parseInt(t[1]);
sec=parseInt(t[2]);

if(sec==0)
{
    if(min>0)
    {
        sec=59;
        min--;
    }else if(hr>0)
    {
        min=59;
        sec=59;
        hr--;
    }
    else{
        time_up=true;
    }
}else
{
    sec--;
}

if(hr<10)hr="0"+hr;
if(min<10)min="0"+min;
if(sec<10)sec="0"+sec;

time=hr+":"+min+":"+sec;
if(time_up)
{
    time="time up";
}

var timer=document.getElementById("timer");
timer.innerHTML=time;

if(time_up)
	{
    clearInterval(my_timer);
 let question = document.getElementById("quiz_body");

     question.innerHTML = `
    <center> <h3>Time Up...<h3>
     <h3>Exam Over<h3>

    <h1>Correct Answer=:${correct_answer}</h1>
    <h1>wrong Answer Answer=:${wrong_answer}</h1>
    </center>
    `;
      
}
},1000);

}


/* quiz timer end*/
 
</script>
</body>
</html>
