<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Navigation</title>
<link rel="stylesheet" href="navigation_2.css">
<link href='https://fonts.googleapis.com/css?family=Sofia'
	rel='stylesheet'>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/css/style.css">

<link rel="stylesheet" href="/css/table.css">

</head>
<body>
	<header>
		<div class="container container-nav">
			<div class="site-title">
				<h1>ONlineExam</h1>
				<p class="subtitle">Study with the right friend ....</p>
			</div>
			<nav>
				<ul>
					<li><a href="#" class="current-page">Home</a></li>
					<li><a href="#">Profile</a></li>
					<li><a th:href="@{/viewCategory}">View Catagory</a></li>
					<li><a href="#">Exam</a></li>
					<li><a href="#">Show Results</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Contact</a></li>
					<li><a href="#" class="logout-btn">Logout</a></li>
				</ul>
			</nav>
		</div>
	</header>

	<div class="manage-exam">
		<!-- 
		<form action="">
			<label> selclect </label> <select>
				<option th:each="list:${examList}" th:value="${list.ManageExamid}"
					th:utext="${list.examname}"></option>
			</select>
		</form> 
 -->
		<form th:action="@{/viewCategory/search}" method="get">
			<div class="container">
				<h1>Manage Exam</h1>

				<label for="email"><b>Search Category:</b></label> <input
					type="search" placeholder="Enter Enter Exam Id" name="keyword"
					id="email" required>

				<button type="submit" class="search-btn">Submit</button>
			</div>

		</form>
	</div>
	<div>

		<table class="content-table">
			<thead>
				<tr>
					<th>ExamId</th>
					<th>Category</th>
					<th>Exam Name</th>
					<th>Date</th>
					<th>ACtion</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="list:${examList}">
					<td th:text="${list.ManageExamid}"></td>
					<td th:text="${list.category}"></td>
					<td th:text="${list.examname}"></td>
					<td th:text="${list.examdate}"></td>
					<td><a type="button" id="testButton" class="btn btn-primary"
						th:href="@{/exam/findById/(id=${list.ManageExamid})}">Test</a>
				</tr>
			</tbody>
		</table>

	</div>

	<!-- test Modal Button -->

	<div class="modal fade" id="testModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Update Exam</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form th:action="@{/viewCategory/test}" method="put">
						<div class="form-group">
							<label for="recipient-name" class="col-form-label">Id:</label> <input
								type="text" class="form-control" id="idEdit" name="examid"
								readonly>
						</div>
						
						<div class="form-group">
							<label for="recipient-name" class="col-form-label">Category:</label>
							<input type="text" class="form-control" id="categoryEdit"
								name="category" readonly>
						</div>

						<div class="form-group">
							<label for="recipient-name" class="col-form-label">Exam Name:</label> 
								<input type="text" class="form-control" id="examnameEdit"
								name="examname" readonly>
						</div>

						<div class="form-group">
							<button type="submit" class="btn btn-primary">Submit</button>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="/js/test.js"></script>
</body>
</html>
